@import "./style-content.css";
@import "./site-search.css";

body {
  color: #453899;
  background-color: #C4F5F8;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #990F0F
}