<header>
  <h2>Это текст заголовка всех страниц</h2>
  <div class="site-search">
    <div class="site-search__title">
      <span class="site-search__title-advertisement">Воспользуйтесь супер-пупер-удобным поиском</span>
      <input class="site-search__title-input" type="text" placeholder="Начните вводить текст">
    </div>
    <section class="site-search__results">
      <h3 class="site-search__results-title">Результаты</h3>
      <li class="site-search__results-list"></li>
    </section>
  </div>
</header>